@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.form-label {
    transition: 0.25s ease;
}

.form-input:not(:placeholder-shown)+.form-label,
.form-input:focus+.form-label {
    top: 0;
    left: 8px;
    padding: 0 8px;
    background-color: white;
    font-size: 12px;
    color: blue;
}

.button+.button {
    border-left: none;
}

.compare-items-modal+.compare-items-modal {
    border-left: 1px solid gray;
}